@font-face {
	font-family: Averta Std CY Regular;
	src: url('../fonts/averta/AvertaStdCY-Regular.otf');
}

@font-face {
	font-family: Averta Std CY bold;
	src: url('../fonts/averta/AvertaStdCY-Bold.otf');
}

.ffar{ font-family: Averta Std CY Regular; }
.ffab, h1, h2, h3, h4, h5{ font-family: Averta Std CY Bold; }
.cs{ cursor: pointer; }
.btn-register{ border-radius: 30px; }
.do, .cl1, .cl1h:hover{ color: #EB2E4A!important; }
.xanh, .cl2, .cl2h:hover{ color: #141FD1!important;  }
.cl3, .cl3h:hover{ color: #9CE6C7!important; }
.bg1, .bg1:hover{ background-color: #EB2E4A!important; }
.bg2, .bg2:hover{ background-color: #141FD1!important; }
.bg3, .bg3:hover{ background-color: #9CE6C7!important; }
.bra15{ border-radius: 15px; }
.bra30{ border-radius: 30px; }
.bs02, .bs02h:hover{ box-shadow: 0px 4px 24px rgba(111, 136, 165, 0.2); }
.bg05{ background-color: rgba(0, 0, 0, .5); }
.bgcf, .bgcfh:hover{ background-color: #FFFFFF; }
.bw1, .b1s1{ border-width: 1px; }
.bss, .b1s1{ border-style: solid; }
.bc1, .bc1h:hover, .b1s1 { border-color: #EB2E4A; }
.bra50{ border-radius: 50%; }
.bn{ border: none; }
.bgf1{ background-color: #F1F1F1; }
.bgpc { background-position: center; }
.bgsc { background-size: cover; }
.bgrn { background-repeat: no-repeat; }
.bb1dd { border-bottom: 1px dotted rgb(236, 236, 236); }
.bgcd, .bgcdh:hover{ background-color: #ddd; }
.dn { display: none; }
.fs08, .fs08h:hover{ font-size: .8em; }
.fs09, .fs09h:hover{ font-size: .9em; }
.fs11, .fs11h:hover{ font-size: 1.1em; }
.fs12, .fs12h:hover{ font-size: 1.2em; }
.fs14{ font-size: 1.4em; }
.fs16, .fs16h:hover{ font-size: 1.6em; }
.fs2, .fs2h:hover{ font-size: 2em; }
.fs4{ font-size: 4em; }
.fs3{ font-size: 3em; }
.fs5{ font-size: 5em; }
.fs48p{ font-size: 48px; }
.xanh, .do, .fwb{ font-weight: bold; }
.fs24p{ font-size: 24px; }
.fs18p{ font-size: 18px; }
.fs07{ font-size: .7em; }
.hide{ display: none; }
.hr-right{ width: 264px; height: 4px; }
h1,h2,h3,h4,h5{ margin: 0!important; }
.lh1{ line-height: 1; }
.lh30{ line-height: 30px; }
.o0{ opacity: 0; }
.o0{ opacity: 1; }
.show{ opacity: 1; display: block; }
.cl7c, .cl7ch:hover{ color: #7C7C8E; }
.lh14{ line-height: 1.4; }
.lh16{ line-height: 1.6; }
.lh24{ line-height: 24px; }
.sl-content-box{ top: 50%; transform: translateY(-50%); }
.sl-title{ line-height: 57px; font-weight: bold; color: #252525; }
.w90p{ width: 90px; }
.w60p{ width: 60px; }
.sl-content{ color: #545454; }
.w-30{ width: 33.3333333%; }
.itProfile{ background-color: #DDE3FF; }
.studentship{ background-color: #F7F5FF; }
.lt50{ left: 50%; top: 50%; transform: translate(-50%, -50%); }
.studenship-content-box{ transform: translate(3rem, 3rem); border: 4px solid #B5A6FA; box-sizing: border-box; }
.student-box{ width: 67%; }
.positionRequire{ background-color: #F4FFFA; }
.p-list{ background-color: #F1F1F1; border-radius: 0px 0px 30px 30px; }
.p-number-1::after{ content: '1'; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-weight: bold; }
.p-number-2::after{ content: '2'; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-weight: bold; }
.p-number-3::after{ content: '3'; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-weight: bold; }
.p-number-4::after{ content: '4'; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-weight: bold; }
.p-number-line::before{ content: ''; position: absolute; left: 50%; top: 50%; transform: translateX(-50%); background-color: #9CE6C7; width: 5px; height: calc(3rem + 50px); }



.p-circle{ width: 58px; height: 58px; position:relative; border-radius: 50%; }
.mbit-cup{ background-color: #E5E5E5; }
.lh70{ line-height: 70px; }
.sl-btn{ width: 30px!important; height: 30px; border-radius: 50%; top: 50% }
.student-sl-content{ white-space: nowrap; overflow-x: hidden }
.wsi{ white-space: initial; }
.pt50p{ padding-top: 50px; }
.ml15, .mlr15, .ma15{ margin-left: 15px; }
.mr15, .mlr15, .ma15{ margin-right: 15px; }
.mt15, .mtb15, .ma15{ margin-top: 15px; }
.mb15, .mtb15, .ma15{ margin-bottom: 15px; }
.z1{ z-index: 1; }
.z9{ z-index: 9; }
.z99{ z-index: 99; }
.student-slide-box{ padding-bottom: 59px; }
.student-sl-content .content{ margin-top: -59px; }
.l0{ left: 0; }
.r0{ right: 0; }
.t0{ top: 0; }
.t50{ top: 50%; }
.tty{ transform: translateY(-50%); }
.review{ background-image: url('../img/bg-lg.png'); background-size: cover; background-position: center; }
.review-size1{ width: 180px; height: 180px; }
.review-size2{ width: 133px; height: 133px; }
.review-size3{ width: 82px; height: 82px; }
.miniapp-bg{ background-image: url('../img/miniapp.png'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.miniapp-content{ left: 18%; top: 20% }
.miniapp-text{ color: #A1D1FF; }
.oh{ overflow: hidden; }
.py100{ padding: 100px 0; }
.registerForm{ background-color: #F7F5FF; }
.oyh{ overflow-y: hidden; }
.w-200p{ width: 200px; }
.on2{ outline-color: #141fd1ab; }
.ctv-btn-register{ left: 41px; top: 41%; }
.ctv-register-text{ left: 15%; top: 40%; transform: rotate(-12deg); transform-origin: left; }
.scroll-bar-style::-webkit-scrollbar{ display: none; }
.scroll-bar-style::-webkit-scrollbar-thumb{ display: none; }
.about-content{ background-image: url('../img/bg-w.png'); background-size: cover; background-position: center; background-repeat: no-repeat; }
.header-content .carousel-control-next, .header-content .carousel-control-prev{ width: 10%!important;}
.studenship-content-bg{ background-image: url('../img/mg.png'); background-repeat: no-repeat; background-position-x: 122%; }
.modal-job-des-bg{ background-image: url('../img/bg-jd.png'); background-size: 100%; background-repeat: no-repeat; }
.tdu, .tduh:hover{ text-decoration: underline!important; }
.oa{ overflow: auto; }
.w25{ width: 25%; }
.w110p{ width: 110px; }
.cursor-required{ right: -5%; top: 62% }
.cursor-required img{ width: 40px; }
.ctv-register-content { left: 10%; top:30% }
.mx-a{ margin: 0px auto; }
.required{ background-image: url('../img/bg-register.png'); background-size: cover; background-repeat: no-repeat; }
.pen{ pointer-events: none; opacity: .5; }
.taj{ text-align: justify; }
p {
	margin-bottom: 0!important;
}
@media (min-width: 576px){
	.modal-sm {
		max-width: 570px!important;
	}
}
@media only screen and (min-width: 991px) {
	.sl-title{font-size: 60px; line-height: 80px; }
}

@media only screen and (max-width: 1200px) {
	.student-box{ width: 75%; }
	.phone-img{ width: 100%; }
	.ctv-btn-register{ left: 0%; top: 20%; }
	.ctv-register-content { left:10%; top:15%; }
	.required{ background-image: url('../img/mobile/bg-register.png'); background-size: cover; background-repeat: no-repeat; }
}

@media only screen and (max-width: 992px) {
	.h1-xs {
	  font-size: 2rem!important;
	}
	.py-xs-2{
	  padding: .5rem!important;
	}
	.sl-title{
	  line-height: 1.4!important;
	}
	.fs08-xs{
	  font-size: .8em!important;
	}
	.lh-xs-1{
	  line-height: 1!important;
	}
	.student-box{
	  width: 100%!important;
	}
	.studenship-content-box{
	  transform: translate(1rem, 1rem)!important;
	}
	.modal-job-des-bg{background-image: url('../img/bg-jd.png'); background-repeat: no-repeat;}
	.miniapp-bg{ background-image: url('../img/mobile/miniapp.png'); }
	.review-img{ width: 100%;}
	.fs4{ font-size: 2em; }
	.studenship-content-bg{ background-position-x: 108%; }
	.ctv-register-text{ left: 11%; top: 39%; }
	.ctv-register-content { left:10%; top:15%; }
	.hr-right{ width: 200px; }
}

@media screen and (max-width: 768px) {
	.ctv-btn-register { left: 4%; top: 20%; }
	.student-slide-box { padding-bottom: 20px; }
	.required{ background-image: url('../img/mobile/bg-register.png'); background-size: cover; background-repeat: no-repeat; }
}

@media only screen and (max-width: 576px) {
  .h1-xs { font-size: 1.5rem!important; }
  .py-xs-2{ padding: .5rem!important; }
  .sl-title{ line-height: 1.4!important; }
  .fs08-xs{ font-size: .8em!important; }
  .lh-xs-1{ line-height: 1!important; }
  .student-box{ width: 100%!important; }
  .studenship-content-box{ transform: translate(1rem, 1rem)!important; }
  .miniapp-bg{ background-image: url('../img/mobile/miniapp.png'); }
  .review-img{ width: 100%; }
  .require-bg{ width: 100%; }
  .studenship-content-bg{ background-position-x: 118%; }
  .ctv-register-text { left: 9%; top: 39%; }
  .review-size1{ width: 120px; height: 120px; }
  .review-size2{ width: 90px; height: 90px; }
  .review-size3{ width: 40px; height: 40px; }
  .cursor-required{ right: -1%; top: 91% }
  .cursor-required img{ width: 30px; }
  .p-circle{ width: 40px; height: 40px; }
  .p-number-1::before{ content: ''; position: absolute; left: 50%; top: 50%; transform: translateX(-50%); background-color: #9CE6C7; width: 5px; height: calc(3rem + 120px); }
  .ctv-register-content { left: 7%; top: 15%; }
  .ctv-btn-register{ left: 12%; top: 15%; }
  .hr-right{ width: 240px; }
  .required{ background-image: url('../img/mobile/bg-register.png'); background-size: cover; background-repeat: no-repeat; }
}

@media only screen and (max-width: 320px) {
	.app-download{
		width: 100px;
	}
	.hr-right{
		width: 200px;
	}
	.ctv-register-content {
		left: 7%;
		top: 8%;
	}
	.ctv-btn-register {
		left: 10%;
		top: 62%;
	}
}

.zoomIn{ animation-name: zoomIn; }

@keyframes zoomInDown {
	from {
		opacity: 0;
		transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
		animation-timing-function: cubic-bezier(.550, .055, .675, .190);
	}

	60% {
		opacity: 1;
		transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		animation-timing-function: cubic-bezier(.175, .885, .320, 1);
	}
}

.zoomInDown{ animation-name: zoomInDown; }

@keyframes zoomInLeft {
	from {
		opacity: 0;
		transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
		animation-timing-function: cubic-bezier(.550, .055, .675, .190);
	}

	60% {
		opacity: 1;
		transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
		animation-timing-function: cubic-bezier(.175, .885, .320, 1);
	}
}

.zoomInLeft{ animation-name: zoomInLeft; }

@keyframes zoomInRight {
	from {
		opacity: 0;
		transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
		animation-timing-function: cubic-bezier(.550, .055, .675, .190);
	}

	60% {
		opacity: 1;
		transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
		animation-timing-function: cubic-bezier(.175, .885, .320, 1);
	}
}

.zoomInRight{ animation-name: zoomInRight; }

@keyframes zoomInUp {
	from {
		opacity: 0;
		transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
		animation-timing-function: cubic-bezier(.550, .055, .675, .190);
	}

	60% {
		opacity: 1;
		transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
		animation-timing-function: cubic-bezier(.175, .885, .320, 1);
	}
}

.zoomInUp{ animation-name: zoomInUp; }

@keyframes zoomOut {
	from {
		opacity: 1;
	}

	50% {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}

	to {
		opacity: 0;
	}
}

.zoomOut{ animation-name: zoomOut; }

@keyframes zoomOutDown {
	40% {
		opacity: 1;
		transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
		animation-timing-function: cubic-bezier(.550, .055, .675, .190);
	}

	to {
		opacity: 0;
		transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
		transform-origin: center bottom;
		animation-timing-function: cubic-bezier(.175, .885, .320, 1);
	}
}

.zoomOutDown{ animation-name: zoomOutDown; }

@keyframes zoomOutLeft {
	40% {
		opacity: 1;
		transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
	}

	to {
		opacity: 0;
		transform: scale(.1) translate3d(-2000px, 0, 0);
		transform-origin: left center;
	}
}

.zoomOutLeft{ animation-name: zoomOutLeft; }

@keyframes zoomOutRight {
	40% {
		opacity: 1;
		transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
	}

	to {
		opacity: 0;
		transform: scale(.1) translate3d(2000px, 0, 0);
		transform-origin: right center;
	}
}

.zoomOutRight{ animation-name: zoomOutRight; }

@keyframes zoomOutUp {
	40% {
		opacity: 1;
		transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		animation-timing-function: cubic-bezier(.550, .055, .675, .190);
	}

	to {
		opacity: 0;
		transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
		transform-origin: center bottom;
		animation-timing-function: cubic-bezier(.175, .885, .320, 1);
	}
}

.zoomOutUp{ animation-name: zoomOutUp; }

@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.slideInDown{ animation-name: slideInDown; }

@keyframes slideInLeft {
	from {
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.slideInLeft{ animation-name: slideInLeft; }

@keyframes slideInRight {
	from {
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.slideInRight{ animation-name: slideInRight; }

@keyframes slideInUp {
	from {
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.slideInUp{ animation-name: slideInUp; }

@keyframes slideOutDown {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		visibility: hidden;
		transform: translate3d(0, 100%, 0);
	}
}

.slideOutDown{ animation-name: slideOutDown; }

@keyframes slideOutLeft {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		visibility: hidden;
		transform: translate3d(-100%, 0, 0);
	}
}

.slideOutLeft{ animation-name: slideOutLeft; }

@keyframes slideOutRight {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		visibility: hidden;
		transform: translate3d(100%, 0, 0);
	}
}

.slideOutRight{ animation-name: slideOutRight; }

@keyframes slideOutUp {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		visibility: hidden;
		transform: translate3d(0, -100%, 0);
	}
}

.slideOutUp{ animation-name: slideOutUp; }

.shine, .shineh:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	mask-size: 200%;
	animation: shine 2s infinite;
}
@keyframes shine {
	from {
		mask-position: 150%;
		-webkit-mask-position: 150%;
	} to {
		mask-position: -50%;
		-webkit-mask-position: -50%;
	}
}

.spin{ animation-name: spin; }
.spin:not([class^=" ad"]) { animation-duration: 2s; }
@keyframes spin {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}

.spinY{ animation-name: spinY; }
.spinY:not([class^=" ad"]){ animation-duration: 2s; }
@keyframes spinY {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}
.carousel.carousel-fade .carousel-item{ display: block; opacity: 0; transition: opacity  ease-in-out .3s; }
.carousel.carousel-fade .carousel-item.active{ opacity: 1 !important; }
.menu-bg{ background-image: url('../img/rectangle.png'); }
.pb169, .pb169e:empty{ padding-bottom: 56.25%; height: unset!important; }
.pb249{ padding-bottom: 37.5%; }
.ad1, .ar1, .ar1h, .aj1, .aj1h, .ar1i{ animation-duration: 1s; }
.wh100p{ width: 100px; height: 100px; }
