<!-- Please remove this file from your project -->

<template>
  <!-- eslint-disable vue/no-v-html -->
  <div class="footer">
    <div class="footer-content bgf1">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-2 col-xs-12" classM="pb-4">
            <a href="/">
              <img src="assets/img/logo.png">
            </a>
          </div>
          <div class="col-md-10 col-xs-12">
            <div class="row">
              <div v-for="(item, index) in footer_data" :key="index" class="col-md-6 col-xs-12 mb-4">
                <a class="d-flex align-items-center" style="text-decoration: none" :href="`${item.url}`" target="_blank">
                  <div class="icon">
                    <img :src="`${item.img_url}`">
                  </div>
                  <div class="ml-3">
                    <div class="cl2">
                      <b>{{ item.title }}</b>
                    </div>
                    <span class="sl-content fs09" v-html="item.content" />
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg2 py-3">
      <div class="container">
        <div class="d-flex text-white fs09 justify-content-between" classM="-d-flex">
          <div>Bản quyền © 2021 thuộc về Ngân hàng Quân đội. <br class="d-md-none d-inline">Bảo lưu mọi quyền.</div>
          <div>
            <span>Điều khoản</span> | <span>An toàn bảo mật</span>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--eslint-enable-->
</template>
<script>
import Vue from 'vue'
import LoadScript from 'vue-plugin-load-script'
Vue.use(LoadScript)
export default {
  layout: 'logged-in-default',

  data () {
    return {
      footer_data: [],
      apiUrl: ''
    }
  },

  mounted () {
    this.footer_data = this.$store.state.home.footer_data
    this.onLoadScript()
  },

  methods: {
    onLoadScript () {
      Vue.loadScript('assets/js/script.js')
    }
  }
}
</script>
