<!-- Please remove this file from your project -->
<template>
  <div class="header-content">
    <Sidebar />
    <Slider />
  </div>
</template>
<script>
export default {
  layout: 'logged-in-default',

  data () {
  },

  mounted () {
  },
  methods: {
  }
}
