<template>
  <!-- eslint-disable vue/no-v-html -->
  <div
    class="modal fade modal bg05 show bd-example-modal-lg modal-scroll oa"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
    @click.self="onCloseModal()"
  >
    <div class="modal-dialog modal-md modal-dialog-centered" classM="modal-sm,-modal-md" role="document">
      <div class="modal-content oh">
        <div class="modal-body p-0">
          <div class="position-relative p-2">
            <div class="cl1">
              {{ data_title }}
            </div>
          </div>
          <div class="px-md-2 px-0">
            <div class="py-4 px-2">
              {{ data_content }}
            </div>
          </div>

          <div class="action p-2 text-center">
            <div class="btn btn-sm bg1 text-white bra15 px-3" @click="onCloseModal()">
              Đóng
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--eslint-enable-->
</template>
<script>

import Constants from '../commons/Constants'
export default {
  layout: 'logged-in-default',
  props: {
    title: Constants.props_type.string,
    content: Constants.props_type.string
  },

  data () {
    return {
      data_title: this.title,
      data_content: this.content
    }
  },

  mounted () {
    document.getElementsByTagName('body')[0].style.overflow = 'hidden'
  },
  methods: {
    onCloseModal () {
      this.$store.commit('modal/setConfirmModal', null)
      document.getElementsByTagName('body')[0].style.removeProperty('overflow')
    }
  }
}
</script>
