<template>
  <!-- eslint-disable vue/no-v-html -->
  <div
    v-if="data_popup !== null"
    class="modal fade modal bg05 show bd-example-modal-lg modal-scroll oa"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
    @click.self="onCloseModal()"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" classM="modal-sm,-modal-lg" role="document">
      <div class="modal-content position-relative bra15 oh">
        <div class="fs12 fwb cl1h cs position-absolute p-3 r0 z1" title="Đóng" @click="onCloseModal()">
          <span class="position-absolute lt50" aria-hidden="true">&times;</span>
        </div>
        <div class="modal-body modal-job-des-bg">
          <div class="px-md-2 px-0">
            <div class="pb-3">
              <div class="h1 h1-xs fwb">
                JD chi tiết
              </div>
            </div>
            <div class="fs09 removeProperties" v-html="data_popup.content" />
          </div>
        </div>
        <div>
          <img src="assets/img/bg-jd-bot.png" width="100%" class="d-xs-none d-inline">
          <img src="assets/img/mobile/bg-jd-bot.png" width="100%" class="d-none d-xs-inline">
        </div>
      </div>
    </div>
  </div>
  <!--eslint-enable-->
</template>
<script>

import Constants from '../commons/Constants'
export default {
  layout: 'logged-in-default',

  props: {
    data: Constants.props_type.object
  },

  data () {
    return {
      data_popup: this.data
    }
  },

  mounted () {
    document.getElementsByTagName('body')[0].style.overflow = 'hidden'
    // document.getElementById('removeProperties')
  },
  methods: {
    onCloseModal () {
      this.$store.commit('modal/setJobDesModal', null)
      document.getElementsByTagName('body')[0].style.removeProperty('overflow')
    }
  }
}
</script>
