<template>
  <div id="fixed-top" class="header fixed-top bgcf bs02">
    <nav class="menu">
      <div class="container">
        <div class="row w-100" classM="m-0,px-0">
          <div class="col-md-2 col-4 d-flex align-items-center" classM="p-0">
            <a href="#" class="d-block">
              <img src="assets/img/logo.png" class="logo-head" width="90px">
            </a>
          </div>
          <div class="col-md-10 d-none d-lg-block list-desktop-menu">
            <div class="d-flex align-items-center justify-content-end py-2">
              <div v-for="(item, index) in menuData" :id="`${item.target}`" :key="index" class="menu-item cl1h isMenuItem">
                <div :class="`cs ${item.class}`">
                  {{ item.title }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10 col-8 d-lg-none d-block d-md-block text-right" classM="p-0">
            <div class="menu-xs h-100 align-items-center d-flex justify-content-end showMediaMenu">
              <img src="assets/img/icon/menu.png">
            </div>
          </div>
        </div>
      </div>
      <div class="position-fixed t0 r0 z9 w-100 h-100 bg05 text-right backdrop-effect dn">
        <div class="w-60 position-absolute t0 r0 h-100 dn text-left bg-white bs02 menuMedia">
          <div class="img-demo">
            <div class="pb249 bgpc bgsc bgrn menu-bg" />
          </div>
          <div class="mobile-menu-content px-2">
            <div v-for="(item, index) in menuData" :id="`${item.target}`" :key="index" :class="'menu-item py-2 isMenuItem ' + (index < menuData.length - 1? 'bb1dd' : '')">
              <div :class="`cs ${item.class}`">
                {{ item.title }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>
<script>

export default {
  layout: 'logged-in-default',

  data () {
    return {
      menuData: [],
      apiUrl: ''
    }
  },

  mounted () {
    const e = this.$store.state.home.top_menu_data
    const target = ['about-content', 'mbit-cup', 'studentship', 'required']
    if (e) {
      this.menuData = e.map((v, i) => {
        v.class = 'px-3'
        v.target = target[i]
        return v
      })
      this.menuData.push({
        title: 'Đăng ký ngay',
        class: 'btn-register mx-3 px-3 py-3 bg1 lh1 text-white text-center',
        target: 'registerForm'
      })
    }
  },

  methods: {
  }
}
</script>
