<template>
  <!-- eslint-disable vue/no-v-html -->
  <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="slide-content carousel-inner">
      <div v-for="(item, index) in dataSlider" :key="index" :class="`banner-img w-100 position-relative carousel-item ${!index ? 'active' : ''}` ">
        <img :src="`${item[proper_img]}`" class="d-block w-100" alt="slide">
        <div class="position-absolute w-100 sl-content-box px-md-4 p-0">
          <div class="container">
            <div class="col-md-8 col-lg-7 col-7 col-xl-5 ml-md-0 ml-3 pl-md-5 pl-lg-5 pl-xl-0">
              <div v-if="index == 2" class="pb-3">
                <img :src="'assets/img/' + (proper_img == 'img_url' ? '' : 'mobile') + '/top-3.png'" classM="w110p">
              </div>
              <h1 :class="`fwb sl-title ${(index ? ' text-white' : '')}`" classM="fs18p" v-html="item.title" />
              </h1>
              <div :class="`py-3 py-lg-4 py-xl-5 sl-content lh-24 ${(index ? ' text-white' : '')}`" classM="-lh-24,fs07">
                <span classM="pr-3" v-html="item.content" />
              </div>
              <div v-if="item.hard_button">
                <div id="registerForm" class="btn btn-register bg2 px-4 py-md-3 text-white py-2 menu-item" classM="fs08">
                  Đăng ký ngay
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <div class="bra50 bg-5 p-3 position-relative text-white bg05">
        <i class="fas fa-angle-left position-absolute lt50" />
      </div>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <div class="bra50 bg-5 p-3 position-relative text-white bg05">
        <i class="fas fa-angle-right position-absolute lt50" />
      </div>
    </a>
  </div>
  <!--eslint-enable-->
</template>

<script>
export default {
  layout: 'logged-in-default',

  data () {
    return {
      apiUrl: '',
      proper_img: 'img_url',
      bannerStyle: 'padding-bottom:100%; background-size: cover; background-position: center; background-repeat: no-repeat; background-image: ',
      dataSlider: this.$store.state.home.banner_data
    }
  },

  mounted () {
    this.resize()
    window.addEventListener('resize', this.resize)
  },

  methods: {
    resize (e) {
      const slide = document.getElementById('carouselExampleControls')
      let h = 66
      this.proper_img = 'img_url'
      if (window.innerWidth < 991) {
        h = 47.5
      }
      if (window.innerWidth <= 699) {
        this.proper_img = 'img_url1'
      }
      slide.style.marginTop = h + 'px'
    }
  }
}
</script>
