
<template>
  <div class="content ffar">
    <p v-if="$fetchState.pending" />
    <p v-else-if="$fetchState.error">
      Error
    </p>
    <!-- eslint-disable vue/no-v-html -->
    <div v-else>
      <Header />
      <div id="Root" class="body">
        <div class="about-content">
          <div class="py-5">
            <div class="container">
              <div class="first-title d-flex align-items-center pb-3 pb-md-0">
                <div class="img-06 mr-3">
                  <img :src="data.reason ? data.reason[0].img_url : 'assets/img/icon/icon06.png'" class="w110p" classM="w60p,-w110p">
                </div>
                <div class="">
                  <h2 class="lh14 h1 h1-xs fs48p" classM="-h1,-h1-xs,-lh14,fs12,-fs48p" v-html="data.reason ? data.reason[0].title : ''" />
                </div>
              </div>
              <div class="row">
                <div v-for="(item, index) in data.reason.filter(t => t.order_number !== 1)" :key="index" class="col-md-6 col-lg-4 col-xs-12 py-md-4 py-2">
                  <div class="pr-md-3 pb-md-0 p-0 pb-4">
                    <div class="d-flex align-items-center pt-2 pb-3 cs fs09">
                      <div class="float-left mr-2">
                        <img :src="`${item.img_url}`" width="50px">
                      </div>
                      <div class="cl1h">
                        <b v-html="item.title" />
                      </div>
                    </div>
                    <div class="fs08 cl7c taj" v-html="item.content" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- IT profile -->
        <div class="itProfile">
          <div class="container">
            <div class="py-5 d-flex align-items-center row">
              <div class="video-profile oh bra15 col-md-6 col-xs-12 pr-md-5 position-relative">
                <video width="100%" controls class="bra30">
                  <source src="assets/video/division_film.mp4" type="video/mp4">
                </video>
              </div>
              <div class="profile-content col-md-6 col-xs-12 pl-md-5">
                <div class="lable-content d-flex align-items-end pt-4 pt-md-0">
                  <div class="cl2 pr-2 lh1">
                    <b>IT Profile</b>
                  </div>
                  <div class="hr-right bg2" />
                </div>
                <div class="py-4">
                  <div class="h1 h1-xs m-0 fwb">
                    Cùng <span class="cl1">
                      đồng hành
                    </span>
                  </div>

                  <div class="mt-md-3 mt-2 h1 h1-xs m-0 fwb ">
                    Cùng vươn tới <span class="cl1">
                      đỉnh cao
                    </span>
                  </div>
                </div>
                <div class="sl-content lh24 pb-4 taj" v-html="data.it_profile ? data.it_profile[0].content : ''" />
                <a class="" :href="data.it_profile ? data.it_profile[0].url : 'assets/pdf/it_profile.pdf'" target="_blank">
                  <div class="btn-register bg2 text-white py-3 px-4 d-inline-block btn">
                    Xem chi tiết
                    <i class="fa fa-file-pdf ml-2" />
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Học bổng MBIT -->
        <!--        <div class="studentship oh">
          <div class="container py-md-5">
            <div class="position-relative">
              <div class="box-bg d-flex justify-content-between w-100">
                <img src="assets/img/bg-hb-1.png" class="d-md-inline d-none">
                <img src="assets/img/bg-hb-2.png" class="d-md-inline d-none">
                <img src="assets/img/mobile/bg-hb-1.png" class="d-md-none d-inline">
                <img src="assets/img/mobile/bg-hb-2.png" class="d-md-none d-inline">
              </div>
              <div class="position-absolute lt50 px-md-4 px-2 student-box">
                <div class="bra30 bg-white bs02">
                  <div class="pr-md-5 pr-3 studenship-content-box pb-md-5 pb-3 bra30">
                    <div class="p-md-5 p-3">
                      <h1 class="fwb h1-xs" classM="fs12,-h1-xs">
                        {{ data.scholarship_fund[0].title }}
                      </h1>
                      <div class="py-4">
                        <span class="d-md-block d-none taj" v-html="data.scholarship_fund[0].content" />
                        &lt;!&ndash;                        <span class="sl-content lh24 fs08-xs taj d-md-none d-block">&ndash;&gt;
                        &lt;!&ndash;                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry.&ndash;&gt;
                        &lt;!&ndash;                        </span>&ndash;&gt;
                      </div>
                      <div class="row pb-5">
                        <div class="col-sm-6 col-xs-12 pb-md-0 pb-3">
                          <img :src="data.scholarship_fund[0].img_url" width="100%" alt="scholarship-info">
                        </div>
                        <div class="col-sm-6 col-xs-12 rouded">
                          <img :src="data.scholarship_fund[0].img_url1" width="100%" alt="scholarship-info">
                        </div>
                      </div>
                      <div id="registerForm" class="cs btn-register menu-item bg1 text-center text-white py-2 d-block">
                        Đăng ký ngay
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
        <!-- Vị trí tuyển dụng -->
        <div class="positionRequire">
          <div class="container py-5">
            <div class="row py-md-5">
              <div class="col-lg-7">
                <div class="bg-white bs02 h-100 bra30 p-md-4 p-3">
                  <div class="d-inline-block">
                    <div class="p-title pb-4">
                      <div class="pb-3 fs16 fwb" classM="-fs16">
                        Các vị trí
                      </div>
                      <h2 class="h1 cl2 fwb h1-xs">
                        Tuyển dụng
                      </h2>
                    </div>
                    <div class="p-list mb-md-0 mb-4">
                      <div class="bs02 py-2 bg-white border-bottom">
                        <div class="text-right pr-3">
                          <i class="fas fa-circle cl2" />
                          <i class="fas fa-circle cl1 px-2" />
                          <i class="fas fa-circle cl3" />
                        </div>
                      </div>
                      <div class="p-3 cp fs24p position-relative" classM="-fs24p">
                        <div v-for="(item, index) in data.recruitment" :key="index">
                          <div :classM="(index < 2 ? 'fs11,-fs24p':'')" :class=" (index % 2 !== 0 ? 'py-3' : '') + ' pr-md-5 cl2 tduh cs'" @click="showModal(item)">
                            {{ item.title }}
                          </div>
                        </div>
                        <div class="position-absolute cursor-required">
                          <img src="assets/img/cursor.png">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 mt-4 mt-lg-0">
                <div class="bg-white bs02 p-4 bra30">
                  <h2 class="fwb h1-xs">
                    Các bước tuyển dụng
                  </h2>
                  <div class="pt-4">
                    <div v-for="(item,index) in data.scholarship_round" :key="index" :class=" (index % 2 != 0 ? 'py-5' : '') + ' d-flex align-items-center'">
                      <div :class="'p-circle p-number-'+(index+1 )+' bg3 ' + (index < data.scholarship_round.length-1 ? 'p-number-line' : '')" />
                      <div class="ml-2 fwb">
                        {{ item.title }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MBIT CUP -->
        <div class="mbit-cup">
          <div class="py-5 container text-center">
            <div class="w-75 d-inline-block text-center" classM="-w-75">
              <div class="h1" classM="-h1">
                <h1 class="fwb lh70 h1-xs" classM="-lh70,lh30,fs12,-h1-xs">
                  <span class="cl2">MBIT CUP: </span> Chương trình tuyển dụng <br>Thực tập sinh CNTT đầu tiên của MB
                </h1>
              </div>
              <div class="pt-3 pb-4">
                <span class="sl-content lh24 fs09">MBIT CUP – Là chương trình MB tìm kiếm và nuôi dưỡng những nhân tố tiềm năng trong lĩnh vực công  nghệ, hiện đang là sinh viên tại các trường Đại học công nghệ tại Hà Nội năm 2020.</span>
              </div>
            </div>
            <div class="pb-5">
              <img src="assets/img/cover.png" width="100%">
            </div>
            <div class="row pb-5">
              <div v-for="(item, i) in data.selection_round" :key="i" class="col-md-4 col-xs-12 cp" classM="mb-3">
                <div class="bs02 bra30 text-center bg-light p-3 cp">
                  <div class="img-ct">
                    <div class="bgpc bgsc pb169 bgrn bra30" :style="`background-image:url('${item.img_url}')`" />
                  </div>
                  <div class="py-3 fs12">
                    <b>{{ item.title }}</b>
                  </div>
                  <div class="sl-content lh24 fs09" v-html="item.content" />
                </div>
              </div>
            </div>
            <div class="text-center w-md-75">
              <div class="d-inline-block pb-5">
                <div>
                  <h1 class="fwb lh70 h1-xs" classM="-lh70,lh30,-h1-xs,fs12">
                    Sinh viên công nghệ tiềm năng <br class="d-none d-md-block"> bước ra từ MBIT CUP nói gì về <span class="cl2">MBIT</span>?
                  </h1>
                </div>
                <div class="py-3">
                  <span class="sl-content lh24 fs09">14 sinh viên xuất sắc nhất đã được MB lựa chọn trong đó có 3 sinh viên xuất sắc trở thành chuyên viên, <br class="d-md-block d-none"> 09 bạn trở thành CTV.</span>
                </div>
              </div>
              <div class="slide-student position-relative pt-3 mx-md-5">
                <div id="reviewExampleControls" class="carousel slide carousel-fade position-relative student-slide-box" data-ride="carousel">
                  <div class="list-btn-slide w-100">
                    <a class="position-absolute carousel-control-prev l0 z9 tty prev bg05 text-white sl-btn cs cl1h bs02h bgcfh position-relative mr15" href="#reviewExampleControls" role="button" data-slide="prev">
                      <i class="fas fa-chevron-left position-absolute lt50" />
                    </a>
                    <a class="position-absolute carousel-control-next r0 z9 tty next bg05 text-white sl-btn cs cl1h bs02h bgcfh position-relative ml15" href="#reviewExampleControls" role="button" data-slide="next">
                      <i class="fas fa-chevron-right position-absolute lt50" />
                    </a>
                  </div>
                  <div
                    class="student-sl-content lh24"
                  >
                    <div
                      v-for="(item, index) in data.mbit_review"
                      :key="index"
                      :class="`banner-img w-100 position-relative review-margin carousel-item ${!index ? 'active' : ''}` "
                    >
                      <div class="text-center px-3 pb-3">
                        <div class="slide-avt d-inline-block">
                          <div class="bra50 bgcf p-2 b1s1 oh">
                            <div class="bgpc bsc bgrn bra50 wh100p" :style="`background-image:url(${item.img_url || 'assets/img/avt.png'});`" />
                          </div>
                        </div>
                        <div class="content pt-5 px-4 wsi bs02 bra30 bgcf">
                          <div class="star py-3 text-center">
                            <img :src="item.img_url1">
                            <img :src="item.img_url1">
                            <img :src="item.img_url1">
                            <img :src="item.img_url1">
                            <img :src="item.img_url1">
                          </div>
                          <div class="fwb fs12">
                            {{ item.title }}
                          </div>
                          <div class="sl-content lh24 fs09 py-3">
                            {{ item.note }}
                          </div>
                          <div class="fs09 pb-4 sl-content text-center">
                            <div class="w-75 d-inline-block taj" classM="-w-75" v-html="item.content" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Gioi thiệu -->
        <div class="review py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-xs-6" classM="text-center">
                <img src="assets/img/bg-dd.png" class="d-none d-md-inline review-img">
                <img src="assets/img/mobile/phone.png" class="d-md-none d-inline">
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="pt-md-5 pt-4">
                  <div class="cl2 fwb fs12 mt-md-4 mt-0" classM="-fs12">
                    Giới thiệu
                  </div>
                  <div class="py-3">
                    <h3 class="fwb h1-xs">
                      MB đồng hành cùng
                    </h3>
                    <h3 class="pt-3 fwb h1-xs">
                      cộng đồng trong công tác
                    </h3>
                  </div>
                  <div>
                    <h1 class="cl1 fwb" classM="fs2">
                      Thiện Nguyện
                    </h1>
                  </div>
                  <div class="py-4 sl-content lh24 taj" v-html="data.volunteering_activities[0].content" />
                  <div class="d-flex">
                    <div class="mr-3">
                      <a :href="data.volunteering_activities[0].url" target="_blank" rel="nofollow">
                        <img src="assets/img/google-play-app.png" alt="Logo google play" class="app-download">
                      </a>
                    </div>
                    <div class="">
                      <a :href="data.volunteering_activities[0].url1" target="_blank" rel="nofollow">
                        <img src="assets/img/store-app.png" alt="Logo app store" class="app-download">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pt-5">
              <h2 class="text-center fwb h1-xs">
                Những người nổi tiếng <br class="d-md-none d-block"> đã <br class="d-none d-md-block"> sử dụng app
              </h2>
              <div class="d-md-block d-none">
                <div class="d-flex mt-5 justify-content-between" classM="pb-5">
                  <div v-for="(item, index) in data.fmous_people" :key="index" :class="`cs review-item text-center ${['','mt-4','mt-5','mt-4', ''][index]}`">
                    <div class="d-inline-block">
                      <div class="bra50 p-2 b1s1 oh">
                        <div :class="`bgpc bgsc bgpc review-size${['3','2','1','2','3'][index]}`" :style="`background-image:url(${item.img_url})`" />
                      </div>
                    </div>
                    <div class="mt-3 fwb">
                      <h3 :class="item.order_number === 3 ? 'fs12' : 'h6'" :classM="item.order_number === 3 ?'-fs14,h6' : ''" v-html="item.title" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-md-none d-block mt-4">
                <div class="first-item">
                  <div v-for="(item, index) in data.fmous_people.filter(v => v.order_number == 3)" :key="index" class="cs review-item text-center">
                    <div class="d-inline-block">
                      <div class="bra50 p-1 b1s1 oh">
                        <div class="bgpc bgsc bgpc review-size2" :style="`background-image:url(${item.img_url})`" />
                      </div>
                    </div>
                    <div class="mt-3 fwb">
                      <h3 class="h6" v-html="item.title" />
                    </div>
                  </div>
                </div>
                <div class="mt-3">
                  <div v-for="(item, index) in data.fmous_people.filter(v => v.order_number !== 3 )" :key="index" class="cs review-item text-center w25 d-inline-block align-top">
                    <div class="d-inline-block">
                      <div class="bra50 p-1 b1s1 oh">
                        <div class="bgpc bgsc bgpc review-size3" :style="`background-image:url(${item.img_url})`" />
                      </div>
                    </div>
                    <div class="mt-3 fwb">
                      <h3 class="fs09" v-html="item.title" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Miniapp -->
        <div class="miniapp">
          <div class="container py-5">
            <div class="miniapp-bg bra30">
              <div class="row py-5 py-lg-0" classM="px-3,-row,d-flex,align-items-end">
                <div class="col-md-6 position-relative text-white" classM="-col-md-6, w-50">
                  <div class="position-absolute miniapp-content" classM="-position-absolute">
                    <div class="">
                      <div class="fwb fs16" classM="fs12,-fs16">
                        Thử sức với
                      </div>
                      <div class="py-2">
                        <h1 class="fwb text-white">
                          Miniapp
                        </h1>
                      </div>
                      <div class="fwb fs16" classM="fs12,-fs16">
                        Tại sao không?
                      </div>
                    </div>
                    <div class="fs08 lh16 py-4 miniapp-text taj" classM="-py-4, pt-4" v-html="data.mini_app ? data.mini_app[0].content : ''" />
                    <div class="d-md-flex pt-2 d-none">
                      <div class="mr-3">
                        <a :href="data.mini_app ? data.mini_app[0].url : '#'" target="_blank">
                          <img src="assets/img/google-play-app.png">
                        </a>
                      </div>
                      <div class="">
                        <a :href="data.mini_app ? data.mini_app[0].url1 : '#'" target="_blank">
                          <img src="assets/img/store-app.png">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 oh" classM="-col-md-6, w-50, text-right">
                  <img src="assets/img/miniapp-effect.png" class="d-lg-inline d-none phone-img">
                  <img src="assets/img/mobile/miniapp-effect.png" class="d-lg-none d-inline">
                </div>
              </div>
              <div class="d-md-none pt-2 d-flex px-3 pb-5">
                <div class="mr-4">
                  <a :href="data.mini_app ? data.mini_app[0].url : '#'" target="_blank" rel="nofollow">
                    <img src="assets/img/google-play-app.png" class="app-download">
                  </a>
                </div>
                <div class="">
                  <a :href="data.mini_app ? data.mini_app[0].url1 : '#'" target="_blank" rel="nofollow">
                    <img src="assets/img/store-app.png" class="app-download">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- CTV tuyển dụng -->
        <!--        <div class="required">
          <div class="oh">
            <div class="row d-flex align-items-stretch">
              <div class="col-md-6 col-xs-12 align-items-center d-flex">
                <div class="px-3 py-5 mx-a col-xl-8 col-lg-10 col-12">
                  <div>
                    <h1 class="fwb fs3" classM="h3,-fs3">
                      Trở thành CTV tuyển dụng của <span class="cl2">MBIT</span>
                    </h1>
                  </div>
                  <div class="py-lg-5 py-3 sl-content lh24 lh16 py-3 taj" classM="fs09" v-html="data.be_collaborator ? data.be_collaborator[0].content : ''" />
                  <div class="mt-2 position-relative cs cl2h d-inline-block">
                    <img src="assets/img/btn.png" classM="w-200p">
                    <div class="fs12 text-white position-absolute t50 tty l0 ml-4 fwb" classM="fs08,-fs12,-ml-4,ml-2">
                      {{ data.be_collaborator ? data.be_collaborator[0].note : '' }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pt-5 col-xs-12 position-relative d-flex align-items-bottom">
                <div class="position-relative w-100">
                  <img src="assets/img/register-effect.png" width="100%" class="d-lg-inline d-none">
                  <img src="assets/img/mobile/register-effect.png" width="100%" class="d-lg-none d-inline">
                  <div class="position-absolute ctv-btn-register">
                    <div class="position-relative">
                      <img src="assets/img/ctv-register.png" class="d-none d-lg-inline">
                      <img src="assets/img/mobile/ctv-register.png" class="d-lg-none d-inline">
                      <div class="position-absolute ctv-register-text">
                        <a :href="data.be_collaborator ? data.be_collaborator[0].url : ''" target="_blank" rel="nofollow" class="cl2 fs12 fwb" classM="-fs12,fs08">{{ data.be_collaborator ? data.be_collaborator[0].title : '' }}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->        <!--        <div class="required">
          <div class="oh">
            <div class="row d-flex align-items-stretch">
              <div class="col-md-6 col-xs-12 align-items-center d-flex">
                <div class="px-3 py-5 mx-a col-xl-8 col-lg-10 col-12">
                  <div>
                    <h1 class="fwb fs3" classM="h3,-fs3">
                      Trở thành CTV tuyển dụng của <span class="cl2">MBIT</span>
                    </h1>
                  </div>
                  <div class="py-lg-5 py-3 sl-content lh24 lh16 py-3 taj" classM="fs09" v-html="data.be_collaborator ? data.be_collaborator[0].content : ''" />
                  <div class="mt-2 position-relative cs cl2h d-inline-block">
                    <img src="assets/img/btn.png" classM="w-200p">
                    <div class="fs12 text-white position-absolute t50 tty l0 ml-4 fwb" classM="fs08,-fs12,-ml-4,ml-2">
                      {{ data.be_collaborator ? data.be_collaborator[0].note : '' }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pt-5 col-xs-12 position-relative d-flex align-items-bottom">
                <div class="position-relative w-100">
                  <img src="assets/img/register-effect.png" width="100%" class="d-lg-inline d-none">
                  <img src="assets/img/mobile/register-effect.png" width="100%" class="d-lg-none d-inline">
                  <div class="position-absolute ctv-btn-register">
                    <div class="position-relative">
                      <img src="assets/img/ctv-register.png" class="d-none d-lg-inline">
                      <img src="assets/img/mobile/ctv-register.png" class="d-lg-none d-inline">
                      <div class="position-absolute ctv-register-text">
                        <a :href="data.be_collaborator ? data.be_collaborator[0].url : ''" target="_blank" rel="nofollow" class="cl2 fs12 fwb" classM="-fs12,fs08">{{ data.be_collaborator ? data.be_collaborator[0].title : '' }}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
        <!-- Form đăng ký -->
        <div class="registerForm">
          <div class="container">
            <div class="position-relative oh">
              <img src="assets/img/bg-register-1.png" class="d-none d-md-inline">
              <img src="assets/img/mobile/bg-register-1.png" class="d-md-none d-inline w-100">
              <div class="position-absolute lt50 col-md-7 col-xs-12">
                <div class="formData">
                  <div class="bs02 bra30 bgcf p-4">
                    <div class="form-title text-center">
                      <h1 class="cl2 h1-xs">
                        Đăng ký ứng tuyển
                      </h1>
                    </div>
                    <div class="box-form py-4">
                      <div class="row">
                        <div class="col-md-12 col-lg-6 col-xs-12 pb-3">
                          <div class="form-group">
                            <input v-model="formData.name" class="bgf1 p-3 bn bra30 fs09 w-100 on2" placeholder="Họ tên (*)" @change="onChangeInput('name')">
                          </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xs-12 pb-3">
                          <div class="form-group">
                            <Datepicker
                              v-model="formData.date_of_birth"
                              :format="customFormatter"
                              class="bgf1 p-3 bn bra30 fs09 w-100 on2"
                              placeholder="Ngày sinh"
                              :disabled-dates="disabledDates"
                            />
                          </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xs-12 pb-3">
                          <div class="form-group">
                            <input v-model="formData.email" class="bgf1 p-3 bn bra30 fs09 w-100 on2" placeholder="Email (*)" @change="onChangeInput('email')">
                          </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xs-12 pb-3">
                          <div class="form-group">
                            <input v-model="formData.address" class="bgf1 p-3 bn bra30 fs09 w-100 on2" placeholder="Địa chỉ">
                          </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xs-12 pb-3">
                          <div class="form-group">
                            <input v-model="formData.school" class="bgf1 p-3 bn bra30 fs09 w-100 on2" placeholder="Trường/khoa/viện">
                          </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xs-12 pb-3">
                          <div class="form-group">
                            <input v-model="formData.grade" class="bgf1 p-3 bn bra30 fs09 w-100 on2" placeholder="Sinh viên năm">
                          </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                          <div class="form-group ">
                            <select id="inlineFormCustomSelectPref" v-model="formData.position_apply_id" class="custom-select my-1 mr-sm-2 bra30 fs09 w-100 on2 bgf1 bn" style="height: 53px" @change="onChangeInput('position_apply_id')">
                              <option value="false" selected>
                                Vị trí đăng ký (*)
                              </option>
                              <option v-for="(item, index) in data.registration_position" :key="index" :value="item.id">
                                {{ item.title }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div :class="'submitForm text-center cs pb-3 ' + (isActive ? '' : 'pen')">
                      <div class="bg2 bra30 text-white w-30 d-inline-block py-md-3 py-2 fwb" classM="-w-30, w-100" @click="onSubmitForm()">
                        <div>
                          Đăng ký ngay
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <Footer />
      <PopupJobDes v-if="$store.state.modal.jobDesModal !== null" :data="$store.state.modal.jobDesModal" />
      <ModalConfirm
        v-if="$store.state.modal.confirmModal !== null"
        title="Thông báo"
        :content="$store.state.modal.confirmModal"
      />
    </div>
    <!--eslint-enable-->
  </div>
</template>

<script>
import axios from 'axios'
import Datepicker from 'vuejs-datepicker'
import moment from 'moment'
export default {
  components: {
    Datepicker
  },
  layout: 'in-default',
  data () {
    return {
      proccessRegister: 'finish',
      confirm_content: '',
      isActive: false,
      data: [],
      formData: {
        ladipage_id: process.env.VUE_APP_PAGE_ID,
        name: '',
        date_of_birth: moment(new Date()).format('DD-MM-YYYY'),
        email: '',
        address: '',
        school: '',
        grade: '',
        position_apply_id: 'false'
      },
      disabledDates: {
        from: new Date() // Disable all dates up to specific date
      }
    }
  },

  async fetch () {
    const ar = ['top_menu', 'footer', 'banner']
    this.data = await fetch(`${process.env.VUE_APP_PROXY_SUB_API}/v1/ladipages/${process.env.VUE_APP_PAGE_ID}/configs?orderBy=order_number&sortedBy=asc`).then(res => res.json())
    ar.map((v) => {
      return this.$store.commit('home/set_' + v + '_data', this.data[v])
    })
  },

  mounted () {
  },

  methods: {
    showModal (data) {
      this.$store.commit('modal/setJobDesModal', data)
    },
    onChangeInput (e) {
      const t = (this.formData.date_of_birth && this.formData.name && this.formData.email && this.formData.position_apply_id !== 'false')
      this.isActive = t
    },
    onSubmitForm () {
      const data = this.formData
      const config = {
        headers: {
          Accept: 'application/json'
        }
      }
      if (data.date_of_birth) { // revert date -> YYYY-MM-DD
        data.date_of_birth = moment(data.date_of_birth).format('YYYY-MM-DD')
      }
      try {
        axios.post(`${process.env.VUE_APP_PROXY_SUB_API}/v1/registerconsultations`, this.formData, config).then((res) => {
          console.log(res)
          if (res && res.data) {
            this.$store.commit('modal/setConfirmModal', res.data.message)
          }
          this.resetForm()
        })
      } catch (er) {
        console.log('ahihi')
        this.$store.commit('modal/setConfirmModal', 'Đăng ký học bổng thất bại!')
      }
    },
    customFormatter (date) {
      return moment(date).format('DD-MM-YYYY')
    },
    resetForm () {
      this.formData = {
        ladipage_id: process.env.VUE_APP_PAGE_ID,
        name: '',
        date_of_birth: moment(new Date()).format('DD-MM-YYYY'),
        email: '',
        address: '',
        school: '',
        grade: '',
        position_apply_id: 'false'
      }
      this.isActive = false
    }
  }
}
</script>

<style>
  .vdp-datepicker input{
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
  }
</style>
